html , body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
}
a{
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
}
a:hover{
    background-color: #fff;
    color: #000;
}